body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffe2e2bb;
    padding: 40px;
}

.container {
    background-color: #fad0f2bb;
    padding: 25px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 400px;
}

.container h1 {
    color: #ee1b1bf0;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px; 
}

.container p {
    color: #613342f0;
    font-style: italic;
    font-size: 15px;
    margin-bottom: 20px; 
    text-align: center;
}

label { 
    font-weight: 500;
    margin-bottom: 6px;
    display: block;
    line-height: 1.5;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #ee1b1bf0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    font-size: 16px;
}

.button-group {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.button-group button {
    flex: 1;
    padding: 12px;
    font-size: 16px;
}

.reset-btn {
    background-color: #731c39;
}

.reset-btn:hover {
    background-color: #60d357fa; 
}

button:hover {
    background-color: #034a19fa; 
}

footer {
    text-align: center;
    margin-top: 30px;
    color: #613342f0;
    font-size: 14px;
}